body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}

.celeb{
    width: 500px;
}

.select{
    display: flex;
    justify-content: center;
}

select{
    text-align: center;
    height: 30px;
    border-radius: 5px;
    background-color: #ffd61a;
    border: 1px solid #707070;
    width: 308px;
    font-size: 20px;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    span {
    color: red;        
    }
}
main{
    .enemyHP{
        text-align: center;
    }
    .jankenN{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        margin-top: 5px;
    }

    .vsHand{
        display: flex;
        flex-flow: column;
        text-align: center;
    }
    .judgment{
        display: flex;
        justify-content: center;

    }


    .results{
        display: flex;
        justify-content: center;
    }

    .result{
        padding: 10px 30px;
    }

    .winRate{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;        
    }

    .Evaluation{
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
    }

    .center{
        display: flex;
        justify-content: center;
    }

    #endBtn{
        
        box-shadow: 0 7px rgb(130, 130, 130);
        border-radius: 15px;
        border: #ffd61a;
        background-color: #ffd61a;
        height: 60px;
        width: 300px;
        font-size: 18px;
        cursor: alias;
        

    }
    #endBtn:hover {
        border: 2px solid #707070;
        box-sizing: border-box;
        
        
    }
    #endBtn:active {

        box-shadow: none;
        position: relative;
        top: 7px;
    }
    
}   
    
#lastChanceBtn{
        
    box-shadow: 0 7px rgb(130, 130, 130);
    border-radius: 15px;
    border: #1affec;
    background-color: #1affec;
    height: 60px;
    width: 300px;
    font-size: 18px;
    cursor: alias;
    

}
#lastChanceBtn:hover {
    border: 2px solid #707070;
    box-sizing: border-box;
    
    
}
#lastChanceBtn:active {

    box-shadow: none;
    position: relative;
    top: 7px;
}

#allClear{
        
    box-shadow: 0 7px rgb(130, 130, 130);
    border-radius: 15px;
    border: #f20e0e;
    background-color: #f20e0e;
    height: 60px;
    width: 300px;
    font-size: 18px;
    font-color: white;
    cursor: alias;
    

}
#allClear:hover {
    border: 2px solid #707070;
    box-sizing: border-box;
    
    
}
#allClear:active {

    box-shadow: none;
    position: relative;
    top: 7px;
}



footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    /* height:20px; */
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
    /* font-size: ; */
    
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: wait;
}
li:hover{
    background: #0066CC;
    color:#fff;
}
li:active{
    background: #f00586;
    color:#fff;
}

.footer p{
    font-size: 10px;
    background-color: #707070;
    padding: 10px 0;
    margin-bottom: 0px;
}

.summary {
    summary{
        font-size: 26px;
    }
    p{
        font-size: 20px;
    }
}

.crying{
    width: 300px;
}